body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #e0e0e0, #999999);
    background-color: #999999;
    background-image: url("./media/debby-hudson-LQHW1hEO3RA-unsplash.jpg");
    background-size: cover;
    height: 100vh;
    margin: 0;
    font-family: "Cardo", serif;
    font-size: 25px;
    line-height: 1.5;
}

.navbar {
    position: absolute;
    top: 50px;
    margin-bottom: 4rem;
}

.navbar ul {
    list-style: none;
    margin: 0;
    list-style-type: none;
    padding: 0;
    background: rgb(83, 84, 89);
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2),
        0 4px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #f1f1f1 !important;
    color: #000 !important;
}

.navbar ul a {
    text-decoration: none;
    display: block;
    color: black;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
}

.navbar ul a:hover {
    background-color: #ccc !important;
}

.quote-div {
    margin: 2rem;
    margin-bottom: 15rem;
    position: absolute;
    top: 192px;
    width: 807px;
}

.button-div {
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}

.bonus-button-div {
    display: flex;
    justify-content: center;
    margin-bottom: 20%;
}

.button {
    background-color: rgb(83, 84, 89);
    border-radius: 12px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.quote-button {
    min-width: auto;
}

.quote {
    font-family: "Cardo", serif;
    font-size: 1.2em;
    text-align: justify;
    min-width: 400px;
}

#author {
    margin-left: 5rem;
    font-size: 1.6rem;
    font-style: normal;
}

.categories {
    display: block;
}

#player {
    border-radius: 12px;
    width: 80%;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.column {
    width: 33.33%;
    padding: 1px;
    box-sizing: border-box;
}

#columnsContainer {
    width: 500px;
    height: 500px;
}

.audio-controls {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

audio {
    margin: 20px 0;
}

#playPauseIcon {
    font-size: xx-large;
}

#bonus-main-div {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 192px;
}

.blockquote-footer {
    font-style: normal;
    text-align: center;
}

#about-us-main-div {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
}

.box {
    width: 500px;
    margin: 0 50px;
}

.box p {
    text-align: justify;
}

.box h2 {
    text-align: center;
}

#social-media {
    display: flex;
    justify-content: space-evenly;
    color: black;
}

#social-media a:hover {
    color: black;
    text-decoration: none;
}

.icon-wrapper a i {
    font-size: 50px;
    color: black;
    text-decoration: none;
}

.icon-wrapper a i:hover {
    color: #858282 !important;
}

.bonus-div {
    width: 450px;
    margin: 2rem;
}

#dad-joke {
    text-align: center;
}

#movie-quote {
    text-align: center;
}

#dropdown-div {
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}

#categoryDropdown {
    appearance: none;
    background-color: white;
    border-radius: 12px;
    color: black;
    padding: 15px 32px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 5px;
    border: 1px solid #aaa;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#authors-main-div {
    position: absolute;
    top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#authors-list {
    margin: 0;
    padding: 0;
}

#authors-list li {
    margin-bottom: 8px;
    font-size: 25px;
    list-style-type: none;
}

#authors-list li a {
    text-decoration: none;
    color: inherit;
}

#authors-div {
    margin-bottom: 20px;
    max-width: max-content;
}

#pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    max-width: 600px;
}

#pagination a {
    text-decoration: none;
    color: black;
    margin: 0 5px;
}

#authors-quote {
    width: 807px;
}

#author-content {
    line-height: normal;
}

#author-content h1,
h4 {
    line-height: 0.5rem;
}

.author-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* max-width: 80%; */
}

#featured-author p {
    text-align: justify;
}

#featured-author {
    display: flex;
    flex-direction: row;
    width: 800px;
    position: absolute;
    top: 180px;
}

#featured-author button {
    margin-top: 10px;
}

#featured-today-bio {
    font-size: 22px;
}
