.navigation {
  list-style: none;
  margin: 0;
  background: rgb(83, 84, 89);
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.navbar .navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
  font-size: 25px;
}

.navigation a:hover {
  background: darken(rgb(162, 158, 158), 20%);
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 900px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }
  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #e0e0e0, #999999);
  background-color: #999999;
  height: 100vh;
  margin: 0;
}

.quote-body {
  padding: 20px;
}

.quote {
  width: 80%;
  max-width: 700px;
  /* border: 1px solid black; */
  border-radius: 10px;
  margin: 2rem;
  margin-bottom: 15rem;
  position: absolute;
  top: 150px;
}

.quote-button {
  background-color: rgb(83, 84, 89);
  border-radius: 12px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: absolute;
  top: 250px;
}

.quote-footer {
  display: flex;
  justify-content: center;
  padding: 20px;
}

#quote {
  font-family: "Cardo", serif;
  font-size: 1.5em;
}

#author {
  font-family: "Cardo", serif;
  font-weight: 400;
  font-style: bold;
}

.categories {
  display: block;
}

.navbar {
  position: absolute;
  top: 50px;
  margin-bottom: 4rem;
}

#player {
  border-radius: 12px;
  width: 80%;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* Footer height */
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.column {
  width: 33.33%;
  /* Adjust the width according to your preference */
  padding: 1px;
  box-sizing: border-box;
}

#columnsContainer {
  width: 500px;
  height: 500px;
}

.audio-controls {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

audio {
  margin: 20px 0;
}

.w3-bar {
  position: absolute;
  top: 30px;
  margin-bottom: 4rem;
  max-width: 1000px;
}
