body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #e0e0e0, #999999);
    background-color: #999999;
    background-image: url("./media/debby-hudson-LQHW1hEO3RA-unsplash.jpg");
    background-size: cover;
    height: 100vh;
    margin: 0;
    font-family: "Cardo", serif;
    font-size: 25px;
    line-height: 1.5;
}

.navbar {
    position: absolute;
    top: 50px;
    margin-bottom: 4rem;
}

.navbar ul {
    list-style: none;
    margin: 0;
    list-style-type: none;
    padding: 0;
    background: rgb(83, 84, 89);
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2),
        0 4px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #f1f1f1 !important;
    color: #000 !important;
}

.navbar ul a {
    text-decoration: none;
    display: block;
    color: black;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
}

.navbar ul a:hover {
    background-color: #ccc !important;
}

@media all and (max-width: 900px) {
    .navbar {
        display: flex;
        vertical-align: middle;
        left: 1em;
        margin: 10px;
    }

    .navbar ul {
        flex-flow: column wrap;
        padding: 0;
    }

    .navbar ul a,
    li a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .navbar li:last-of-type a {
        border-bottom: none;
    }

    .quote-div {
        position: absolute;
        margin: 10rem;
        max-width: 80%;
    }
}

.quote-div {
    border-radius: 10px;
    margin: 2rem;
    margin-bottom: 15rem;
    position: absolute;
    top: 192px;
    width: 807px;
}

.button-div {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 300px;
}

.bonus-button-div {
    display: flex;
    justify-content: center;
}

.button {
    background-color: rgb(83, 84, 89);
    border-radius: 12px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
}

.quote-button {
    display: inline-block;
    margin: 4px 2px;
    position: absolute;
    top: 140px;
    min-width: auto;
}

#quote {
    font-family: "Cardo", serif;
    font-size: 1.2em;
    text-align: justify;
    min-width: 400px;
}

#author {
    margin-left: 5rem;
    font-size: 1.6rem;
    font-style: normal;
}

.categories {
    display: block;
}

#player {
    border-radius: 12px;
    width: 80%;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.column {
    width: 33.33%;
    padding: 1px;
    box-sizing: border-box;
}

#columnsContainer {
    width: 500px;
    height: 500px;
}

.audio-controls {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

audio {
    margin: 20px 0;
}

#bonus-main-div {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 140px;
}

.blockquote-footer {
    font-style: normal;
    text-align: center;
}

#about-us-main-div {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
}

.box {
    width: 500px;
    margin: 0 50px;
}

.box p {
    text-align: justify;
}

.box h2 {
    text-align: center;
}

#social-media {
    display: flex;
    justify-content: space-evenly;
    color: black;
}

#social-media a:hover {
    color: black;
    text-decoration: none;
}

.icon-wrapper a i {
    font-size: 50px;
    color: black;
    text-decoration: none;
}

.icon-wrapper a i:hover {
    color: #858282 !important;
}

.bonus-div {
    width: 700px;
    margin-top: 250px;
}

#dad-joke {
    text-align: center;
}

#movie-quote {
    text-align: center;
}
